

.img{
    height: 100%;
}


@media (max-width : 300px){
    .img{
        min-height: 300px;
    }
}



@media (max-width : 600px) and (min-width :300px){
    .img{
        min-height: 400px;
    }
}